<menu class="bg-gray-blue">
  <ul class="flex space-around">
    <li class="text-shadow underline no-list text-yellow f-15"><%=link_to "HOME", root_path, class:"nav-link" %></li>
    <li class="text-shadow underline no-list text-yellow f-15"><%=link_to "ABOUT", about_path, class:"nav-link" %></li>
    <li class="text-shadow underline no-list text-yellow f-15"><%=link_to "FAQ", faq_path, class:"nav-link"%></li>
    <li class="text-shadow underline no-list text-yellow f-15"><%=link_to "JOIN", new_user_registration_path, class:"nav-link"%></li>
    <li class="text-shadow underline no-list text-yellow f-15"><%=link_to "LOGIN", new_user_session_path, class:"nav-link" %></li>
  </ul>
</menu>
