<div class="banner">
  <div class="flex flex-column centered">
    <h1 class="f-95 text-white aboreto text-shadow">Flock</h1>
  </div>
</div>
<%= render 'navbar' %>

<div class="hero flex flex-column centered space-evenly">
  <div class="">
    <div class="greeting">
      <%= image_tag "runner_duck.png", class:"hero-img"%>
    </div>
  </div>
  <div class="">
    <h3 class="heading f-35 text-center caveat">Get to Know the Birds That Make Our Skies Sing!</h3>
  </div>
</div>
<br>
<hr class="line">
<br>
<section class="flex centered infos">
  <div class="right">
    <%= image_tag "birds/cape_white_eye.png" %>
  </div>
  <div class="left">
  <p class="fresca" > Dive into the rich diversity of South Africa's birdlife with our detailed bird profiles. Each profile offers in-depth information on species, including striking visuals, distinctive behaviors, habitats, and calls. Whether you're a seasoned birder or just starting, our profiles help you connect with the unique avian wonders of Southern Africa, making every birding adventure more rewarding.</p>
  </div>
</section>

<section class="flex centered infos">
  <div class="right">
    <p class="fresca">Easily identify Southern Africa's birds with our interactive gallery. Browse through stunning images and filter by key characteristics like color, size, and habitat. Whether you're trying to name a new sighting or simply exploring, our gallery is your go-to resource for discovering the birds that grace Southern Africa's skies.</p>
  </div>
  <div class="left">
    <%= image_tag "birds/flycatcher.png" %>
  </div>
</section>

<section class="flex centered infos">
  <div class="right">
    <%= image_tag "birds/wagtail.png" %>
  </div>
  <div class="left">
    <p class="fresca">Enhance your birding experience with insights from South Africa's top birding experts. Our guides offer tips, techniques, and in-depth knowledge to help you spot and appreciate the diverse bird species across the country. Whether you're in the bush or your backyard, our expert advice will elevate your birdwatching to the next level.</p>
  </div>
</section>

<section class="flex centered infos">
  <div class="right">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam tempore maxime beatae, laborum tenetur minus necessitatibus ratione qui sapiente, pariatur quo quis modi similique animi eligendi, temporibus labore quae!
  </div>
  <div class="left">
    <%= image_tag "birds/house_sparrow.png" %>
  </div>
</section>

<br>
<hr class="line">
<br>

<div class="cta bg-camel flex centered gap-20">
  <div>
    <%= image_tag "flock-of-birds.png", class:"cta-img" %>
  </div>
  <div class="cta-descript">
    <h5 class="f-25">Discover Southern Africa's Feathered Wonders</h5>
    <p class="cta-text"></p>
    <br>
    <%=link_to "Find out more", about_path, class:"cta-btn"%>
  </div>
</div>
<%= render 'footer' %>
