<%= render 'header' %>
<%= render 'navbar' %>

<div class="hero items-center justify-center m-auto flex flex-col justify-evenly">
  <div class="">
    <div class="greeting">
      <%= image_tag "runner_duck.png", class:"hero-img"%>
    </div>
  </div>
  <div class="">
    <h3 class="w2-5 text-6xl m-auto caveat text-center">Get to Know the Birds That Make Our Skies Sing!</h3>
  </div>
</div>
<br>
<hr class="m-auto line max-w-5xl">
<br>
<section class="flex items-center justify-center m-auto w2-5 mt-10">
  <div class="right max-w-lg">
    <%= image_tag "birds/cape_white_eye.png" %>
  </div>
  <div class="space-x-16 max-w-lg">
  <p class="fresca " > Dive into the rich diversity of South Africa's birdlife with our detailed bird profiles. Each profile offers in-depth information on species, including striking visuals, distinctive behaviors, habitats, and calls. Whether you're a seasoned birder or just starting, our profiles help you connect with the unique avian wonders of Southern Africa, making every birding adventure more rewarding.</p>
  </div>
</section>

<section class="flex items-center justify-center w2-5 m-auto">
  <div class="right">
    <p class="fresca max-w-lg">Easily identify Southern Africa's birds with our interactive gallery. Browse through stunning images and filter by key characteristics like color, size, and habitat. Whether you're trying to name a new sighting or simply exploring, our gallery is your go-to resource for discovering the birds that grace Southern Africa's skies.</p>
  </div>
  <div class="space-x-12 max-w-lg">
    <%= image_tag "birds/flycatcher.png" %>
  </div>
</section>

<section class="flex items-center justify-center w2-5 m-auto">
  <div class="right max-w-lg">
    <%= image_tag "birds/wagtail.png" %>
  </div>
  <div class="space-x-12 max-w-lg">
    <p class="fresca">Enhance your birding experience with insights from Southern Africa's top birding experts. Our guides offer tips, techniques, and in-depth knowledge to help you spot and appreciate the diverse bird species across the country. Whether you're in the bush or your backyard, our expert advice will elevate your birdwatching to the next level.</p>
  </div>
</section>

<section class="flex items-center justify-center w2-5 m-auto">
  <div class="right ">
  <p class="fresca max-w-lg">Turn your birding adventures into a rewarding journey! As you spot and log specific birds, you'll unlock badges, exclusive content, and special rewards. From rare bird sightings to completing challenges like spotting 5 ocean birds, there's always something to strive for as you explore Southern Africa’s avian wonders.</p>
  </div>
  <div class="space-x-12 max-w-lg">
    <%= image_tag "birds/house_sparrow.png" %>
  </div>
</section>

<br>
<hr class="m-auto line max-w-5xl">
<br>

<div class="cta m-auto bg-camel flex items-center justify-center gap-20">
  <div>
    <%= image_tag "flock-of-birds.png", class:"w-full" %>
  </div>
  <div class="cta-descript">
    <h5 class="f-25">Discover Southern Africa's Feathered Wonders</h5>
    <br>
    <%=link_to "Find out more", faq_path, class:"cta-btn"%>
  </div>
</div>
<%= render 'footer' %>
