<div class="form king card">
<%= form_with model: @bird do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% bird.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :breeding_season %><br>
    <%= form.text_field :breeding_season %>
    <% bird.errors.full_messages_for(:breeding_season).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :size %><br>
    <%= form.text_field :size %>
    <% bird.errors.full_messages_for(:size).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
     <%= form.label :habitat %>
     <br>
    <%= form.select :habitat, ['Fynbos', 'Forest', 'Savanna', 'Karoo', 'Grassland', 'Ocean', 'Lakes & Estuaries'] %>
    <% bird.errors.full_messages_for(:habitat).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  

  <div>
     <%= form.label :status %>
     <br>
    <%= form.select :status, ['Common', 'Uncommon', 'Scarce', 'Vulnerable'] %>
    <% bird.errors.full_messages_for(:status).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description, class:"w-500 h-250" %>
    <% bird.errors.full_messages_for(:size).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
  <%= form.label :Upload_File, for:"img" %>
  <%= form.file_field :image, class:"hidden", id:"img" %><br>
  <% bird.errors.full_messages_for(:image).each do |message| %>
    <div><%= message %></div>
  <% end %>
  </div>
  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>

</div>
